:root {
  --smallBorder: 6px;
  --mediumBorder: 12px;
  --largeBorder: 24px;

  --fastTransition: 0.2s ease-in-out;
  --mediumTransition: 0.3s ease-in-out;
  --slowTransition: 0.4s ease-in-out;
}

/* Base Theme */
.light {
  --color-primary: hsl(14, 96%, 65%);
  --color-secondary: hsl(45, 100%, 55%);
  --color-accent: hsl(173, 55%, 74%);
  --color-danger: hsl(5, 75%, 57%);
  --color-background: hsl(60, 40%, 98%);
  --color-foreground: hsl(60, 43%, 96%);
  --color-primary-text: #0b0702;
  --color-secondary-text: hsl(0, 0%, 22%);

  --shadow-small: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  --shadow-medium: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
  --shadow-double: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.dark {
  --color-primary: hsl(14, 96%, 35%);
  --color-secondary: hsl(45, 100%, 45%);
  --color-accent: hsl(173, 55%, 26%);
  --color-danger: hsl(5, 75%, 45%);
  --color-background: hsl(60, 40%, 2%);
  --color-foreground: hsl(60, 43%, 4%);
  --color-primary-text: hsl(33, 69%, 97%);
  --color-secondary-text: hsl(0, 0%, 78%);

  --shadow-small: 0px 2px 4px 0 rgba(96, 96, 96);
  --shadow-medium: 0px 4px 8px 0 rgb(96, 96, 96);
  --shadow-double: 0 0 8px 8px rgba(94, 94, 94);
}
